<mat-toolbar color="primary">
  <span>
    <a routerLink="/posts">Message Board</a>
  </span>
  <span class="spacer"></span>
  <ul>

    <a mat-stroked-button
    routerLink="/posts"
    routerLinkActive="mat-accent"
    >
    Posts</a>

    <a mat-stroked-button
    routerLink="/create"
    routerLinkActive="mat-accent"
    *ngIf="userIsAuthenticated"
    >Create Post</a>

    <a mat-stroked-button
    routerLink="/auth/login"
    routerLinkActive="mat-accent"
    *ngIf="!userIsAuthenticated"
    >Login</a>

    <a mat-stroked-button
    routerLink="/auth/signup"
    routerLinkActive="mat-accent"
    *ngIf="!userIsAuthenticated">Signup</a>

    <a mat-stroked-button
    *ngIf="userIsAuthenticated"
    (click)="onLogout()">Logout
    </a>

  </ul>
</mat-toolbar>
