mat-form-field {
  min-width: 0px;
  max-width: auto;
  width: 100%;
};

.example-form {
  width: 80%;
}

.first-full-width {
  width: 100%;
}

.last-full-width {
  width: 100%;
}

.email-full-width {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  width: 100%;
  /* border: 1px solid blue */
}

.password-full-width {
  width: 100%;
}

.button-row {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
