<mat-card>
  <mat-spinner *ngIf="isloading"></mat-spinner>

<form (submit)="onSignup(signupForm)"
  #signupForm="ngForm"
  *ngIf="!isloading">
  <mat-form-field class="email-full-width">
    <mat-label for="email"> E-mail:
    </mat-label>
    <input
    matInput
    placeholder="example@example.com"
    ngModel
    type="email"
    id="email"
    class="form-control"
    name="email"
    required
    email
    #emailInput = "ngModel"
    />
</mat-form-field>

<mat-form-field class="password-full-width">
  <mat-label>Password</mat-label>
  <input
  matInput
  placeholder="******"
  ngModel
  type="password"
  id="passowrd"
  class="form-control"
  name="password"
  required
  password
  #passwordInput="ngModel"
  />
</mat-form-field>

<div class="button-row">
  <button mat-raised-button
  color="primary"
  type="submit"
  *ngIf="!isloading"
  [disabled]="!signupForm.valid">
    Register to Post
  </button>
</div>
</form>
</mat-card>

