<mat-card>
  <mat-spinner *ngIf="isLoading">
  </mat-spinner>
  <form
  [formGroup]="form"
  (submit)="onSavePost()"
  *ngIf="!isLoading" >
    <mat-form-field>
      <input
      matInput
      type="text"
      formControlName="title"
      placeholder="Enter Title Here">
      <mat-error *ngIf="form.get('title').invalid"> Please enter post title </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
      matInput
      rows="6"
      formControlName="content"
      placeholder="Enter Post Text Here">
      </textarea>
      <mat-error *ngIf="form.get('content').invalid"> Please enter post content </mat-error>

    </mat-form-field>
      <button
      mat-raised-button
      color = "primary"
      type="submit"
      > Save Post </button>
  </form>
</mat-card>
<hr>

